@import "tailwindcss";

@theme {
    --color-gold: #D4AF37;
    --color-dark: #0a0a0a;
}

body {
    background-color: var(--color-dark);
    color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}